*DS_Store*
*.log
*.cache
*.o
*.lo
*~
*.status
./config.h
*config.h
*confdefs.h
*conftest*
*deps/*
*/*deps/*
*/*/*deps/*
*/*/*/*deps/*
*/*/*/*/*deps/*
*/*/*/*/*/*deps/*
*libs/*
*/*libs/*
*/*/*libs/*
*/*/*/*libs/*
*/*/*/*/*libs/*
*/*/*/*/*/*libs/*
*.a
*.la
*.lai
*.dylib
*dirstamp
*.dSYM
stamp-h*
*stamp-h*
*/*stamp-h*
*/*/*stamp-h*
*/*/*/*stamp-h*
*/*/*/*/*stamp-h*
*/*/*/*/*/*stamp-h*
*.pyc
*libtool
*.build
*.perspectivev3
*.pbxuser
*xcode/build/*
*FrameworkSample/build/*
*build/Debug/*
*build/*
*.vcproj-e
*.userprefs
*.class
zarith-1.0/Makefile.orig
*.depend
