*DS_Store*
*.log
*.cache
*.o
*.lo
*~
*.status
./config.h
*config.h
*confdefs.h
*conftest*
*deps/*
*/*deps/*
*/*/*deps/*
*/*/*/*deps/*
*/*/*/*/*deps/*
*/*/*/*/*/*deps/*
*libs/*
*/*libs/*
*/*/*libs/*
*/*/*/*libs/*
*/*/*/*/*libs/*
*/*/*/*/*/*libs/*
*.a
*.la
*.lai
*.dylib
*dirstamp
*.dSYM
stamp-h*
*stamp-h*
*/*stamp-h*
*/*/*stamp-h*
*/*/*/*stamp-h*
*/*/*/*/*stamp-h*
*/*/*/*/*/*stamp-h*
*.pyc
*libtool
*.build
*.perspectivev3
*.pbxuser
*xcode/build/*
*FrameworkSample/build/*
*build/Debug/*
*build/*
*.vcproj-e
*.userprefs
*.class
zarith-1.0/Makefile.orig
*.depend
*(Autosaved)*
Makefile
gcc-root/*
libasmir/Makefile
libasmir/makefile.inc
libasmir/apps/Makefile
libasmir/src/Makefile
libtracewrap/CONFIGURED
libtracewrap/Makefile
libtracewrap/libtrace/Makefile
libtracewrap/libtrace/piqi/deps
libtracewrap/libtrace/piqi/piqi/configure.sh
ocaml/Makefile
utils/Makefile
tests/Makefile
libasmir/config.h
*.cm[xio]
VEX/vex
TAGS
*._d/*
*/*._d/*
*/*/*._d/*
*/*/*/*._d/*
*/*/*/*/*._d/*
*/*/*/*/*/*._d/*
*.output
*._ncdi/*
*/*._ncdi/*
*/*/*._ncdi/*
*/*/*/*._ncdi/*
*/*/*/*/*._ncdi/*
*._bcdi/*
*/*._bcdi/*
*/*/*._bcdi/*
*/*/*/*._bcdi/*
*/*/*/*/*._bcdi/*
tests/C/bof1
tests/C/taint_test
tests/C/test
tests/C/unroll
tests/asm/nop
*.exe
*.annot
*lexer.ml
*grammar.ml
*grammar.mli
VEX/pub/*guest_offsets.h
pin/*
#*/cscopelist
