*DS_Store*
*.log
*.cache
*.o
*.lo
*~
config.h
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
*/*/*/*deps/*.*o
*/*/*/*/*deps/*.*o
*/*/*/*/*/*deps/*.*o
*.dSYM
stamp-h*
*stamp-h1
*/*stamp-h1
*/*/*stamp-h1
*/*/*/*stamp-h1
*/*/*/*/*stamp-h1
*/*/*/*/*/*stamp-h1
*.pyc
