xcode/build/*
src/protoc
src/google/protobuf/compiler/cpp/*.pb.*
src/google/protobuf/compiler/cpp/unittest_*
src/google/protobuf/compiler/cpp/unittest.*
src/google/protobuf/compiler/unittest_*
src/google/protobuf/compiler/unittest.*
src/google/protobuf/unittest_*
src/google/protobuf/unittest.*
src/protobuf/unittest_*
src/protobuf/unittest.*
src/unittest_*
src/unittest.*
*.*o
*.dirstamp
*.log
*.cache
*.status
*libs/*
*/*libs/*
*deps/*
*/*deps/*
*~
libtool
config.h
Makefile
src/Makefile
protobuf.pc
protobuf-lite.pc
#*cscope.files
