# Tell GitHub to ignore when calculating language stats:
aclocal.m4 linguist-generated
configure linguist-generated
m4/libtool.m4 linguist-vendored
m4/lt*.m4 linguist-vendored
Makefile.in linguist-generated
