xcode/build/*
src/protoc
src/google/protobuf/unittest_*
src/protobuf/unittest_*
src/unittest_*
*.o
*.lo
*.dirstamp
*.log
*.cache
*.status
*libs/*
*/*libs/*
*deps/*
*/*deps/*
*~
scripts/gtest-config
lib/so_locations
samples/so_locations
*.trs
