xcode/build/*
src/protoc
src/google/protobuf/unittest_*
src/protobuf/unittest_*
src/unittest_*
*.*o
*.dirstamp
*.log
*.cache
*.status
*libs/*
*/*libs/*
*deps/*
*/*deps/*
*~
scripts/gtest-config
lib/so_locations
samples/so_locations
*.trs
libtool
config.h
build-aux/config.h
Makefile
