# Tell GitHub to ignore when calculating language stats:
aclocal.m4 linguist-generated
compile linguist-vendored
config.guess linguist-vendored
config.sub linguist-vendored
install-sh linguist-vendored
missing linguist-vendored
*/*/META.tpl linguist-language=text
