*.o
*~
*.cm[aiox]
*.cmxa
*.cache
*.annot
*.output
META
src/gml.ml
src/version.ml
src/dot_parser.ml
src/dot_parser.mli
src/dot_lexer.ml
graph.*a
editor/editor.byte
editor/editor.opt
view_graph/viewgraph.byte
view_graph/viewgraph.opt
dgraph/dgraph.byte
dgraph/dgraph.opt
dgraph/dgraph
*.haux
*.aux
*.log
ocamlgraph.tex
ocamlgraph.dvi
ocamlgraph.ps
ocamlgraph.html
bin/demo.opt
bin/color.opt
bin/demo_planar.opt
bin/sudoku.opt
*.status
